@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "InstrumentSerif-Regular";
  src: url("../public/assets/fonts/InstrumentSerif-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "InstrumentSerif-Italic";
  src: url("../public/assets/fonts/InstrumentSerif-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "InstrumentSans-Regular";
  src: url("../public/assets/fonts/InstrumentSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "InstrumentSans-Italic";
  src: url("../public/assets/fonts/InstrumentSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@theme {
  --font-primary: "InstrumentSerif-Regular";
  --font-primary-italic: "InstrumentSerif-Italic";
  --font-secondary: "InstrumentSans-Regular";
  --font-secondary-italic: "InstrumentSans-Italic";
}

