@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "Instrument Serif";
  src: url("../public/assets/fonts/InstrumentSerif-Italic.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Instrument Serif";
  src: url("../public/assets/fonts/InstrumentSerif-Italic.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Instrument Sans";
  src: url("../public/assets/fonts/InstrumentSans-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Instrument Sans";
  src: url("../public/assets/fonts/InstrumentSans-Italic.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
}

@theme {
  --font-primary: "Instrument Serif";
  --font-primary-italic: "Instrument Serif";
  --font-secondary: "Instrument Sans";
  --font-secondary-italic: "Instrument Sans";
}

body {
  font-family: "Instrument Sans", sans-serif;
}

.custom-hero-bg {
  background-image: url("/assets/images/bg-image.jpg");
  @apply bg-cover bg-center bg-no-repeat;
  z-index: 10;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(4px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}